.dashboard-wrapper {
  min-height: 100vh;
}

.dashboard-content {
  background-color: #f8f9fa;
  width: 100%;
}

@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0;
    padding: 1rem;
  }
}




.dashboard-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1 1 0%;
  transition: margin-left 0.3s;
  margin-left: 225px; 
  background: #f9fafb;
}

.sidebar-container.collapsed + .main-content,
.main-content.collapsed {
  margin-left: 46px;
}

/* Mobile pe always 0 margin (sidebar overlay mode) */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0 !important;
    padding: 24px 8px;
  }
}
