
.text-gradient-purple {
  color: #c084fc;
}

.text-gradient-blue {
  color: #60a5fa;
}

.text-gradient-red {
  color: #f87171;
}

.text-purple {
  color: #a855f7;
}


.homepage {
  background: linear-gradient(135deg, #1f0036c4, #3c005a);
  min-height: 100vh;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  z-index: 0; 
}

.homepage::before {
  content: "";
  background: radial-gradient(circle, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 30px 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;  
  opacity: 0.1;
  pointer-events: none; 
}
