.bg-text-gradient-blue {
  background-color:rgb(17 24 39/var(--tw-bg-opacity,1));
}
.sidebar-image {
  animation: float 3s ease-in-out infinite;
}

/* Optional floating animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
